<div class="modals">
  <div class="window">
    <div class="window__wrapper">
      <div class="window__header">
        <div class="window__label">
          <div class="window__icon">
            <img src="img/window_icon.svg" alt="">
          </div>
          <div class="window__text"><span class="shortcut-name">About</span> - Notepad</div>
        </div>
        <button class="window__close btn">
          <svg class="">
            <use xlink:href="./img/icons/icons.svg#close"></use>
          </svg>
        </button>
      </div>
      <div class="window__body">
        Venturing Out To Create The Healthiest Meme Economy On Binance Smart Chain, Our Team Bred Red Floki CEO. A
        Combination Of Bold Redness And The Greatest Of All Meme Glory, Red Floki CEO Is Aimed At The Moon.
        Coming Out Of The Box, Red Floki CEO Is A Reflection Token, With HOLDR Rewards And No Buy Fees, Because Our
        Team
        Wants You Aimed At The Moon As Well.
      </div>
    </div>
  </div>
</div>
